@model IEnumerable<XCoach.Models.AthleteRace>

@{
    ViewData["Title"] = "Index";
}

<h1>Race Results Per Athlete</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Athlete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Race.MeetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActualTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Athlete.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Race.MeetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActualTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
