@model IEnumerable<XCoach.Models.Workout>



@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align: center">Workouts</h1>

<p>
    <a style = "color: white" asp-action="Create">Create New</a>
</p>
<section class="athleteCard">
    @foreach (var item in Model)

    {
        <div class="card cardStyle" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">
                    @Html.DisplayFor(modelItem => item.Title)
                </h5>
                <hr />
                <p class="card-text">
                    @Html.DisplayFor(modelItem => item.Description)
                </p>
                <p class="card-text">
                    @Html.DisplayNameFor(model => model.WorkoutType.Name):
                    @Html.DisplayFor(modelItem => item.WorkoutType.Name)
                </p>
                <a asp-controller="AthleteWorkouts" class = "card-link" asp-action="Create" asp-route-id="@item.Id">Assign</a>
                <a asp-action="Edit" class = "card-link" asp-route-id="@item.Id">Edit</a>
                <a asp-action="Details" class = "card-link" asp-route-id="@item.Id">Details</a>
                <a asp-action="Delete" class = "card-link" asp-route-id="@item.Id">Delete</a>
            </div>
        </div>
    }
</section>
