@model XCoach.Models.AthleteViewModel.AthleteDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Athlete</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Athlete.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Athlete.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Athlete.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Athlete.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Athlete.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Athlete.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Athlete.Grade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Athlete.Grade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Athlete.MPW)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Athlete.MPW)
        </dd>

    </dl>
    <table class="table">
        @foreach (var i in Model.UpComingWorkouts)
        {
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => i.WorkoutDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => i.Workout.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => i.Pace)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => i.Repetition)
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(model => i.WorkoutDate)
                    </td>
                    <td>
                        <a asp-action="Details" asp-controller="Workouts" asp-route-id="@i.Workout.Id">
                            @Html.DisplayFor(model => i.Workout.Title)
                        </a>

                    </td>
                    <td>
                        @Html.DisplayFor(model => i.Pace)/mi
                    </td>
                    <td>
                        @Html.DisplayFor(model => i.Repetition)x
                    </td>

                </tr>
            </tbody>
        }
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Athlete.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
