@model IEnumerable<XCoach.Models.Athlete>

@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align: center">Athletes</h1>

<p>
    <a style = "color: white" asp-action="Create">Create New</a>
</p>
<section class="athleteCard">
    @foreach (var item in Model)
    {
        <div class="card cardStyle" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">
                    @Html.DisplayFor(model => item.FirstName)
                    @Html.DisplayFor(model => item.LastName)
                </h5>
                <hr />
                <p class="card-text">
                    @Html.DisplayNameFor(modelItem => item.Gender):
                    @Html.DisplayFor(modelItem => item.Gender)
                </p>
                <p class="card-text">
                    @Html.DisplayNameFor(modelItem => item.Grade):
                    @Html.DisplayFor(modelItem => item.Grade)
                </p>
                <p class="card-text">
                    @Html.DisplayNameFor(modelItem => item.MPW):
                    @Html.DisplayFor(modelItem => item.MPW)
                </p>
                <a asp-action="Edit" class = "card-link" asp-route-id="@item.Id">Edit</a>
                <a asp-action="Details" class = "card-link" asp-route-id="@item.Id">Details</a>
                <a asp-action="Delete" class = "card-link" asp-route-id="@item.Id">Delete</a>
            </div>
        </div>
    }
</section>
